{% extends 'index.html' %}
    {% block titile %}
    <title>{{article.title}}-{{ article.classify }}</title>
    {% endblock %}
{% block header %}
    {% include 'include/header.html' %}
{% endblock %}
{% block content %}
    <p class="text-left">当前位置：<a href="/">首页</a>>><a href="list_classify.html?nid={{ classifys.classify_id }}">{{ classifys.classify }}</a></p>
    <h4>{{article.title}}</h4>
    <p>作者:{{ article.author}}—— 更新时间：{{ article.update_time}}</p>
    <p>{{ article.content |safe}}</p>
    <p>上一篇：{{ pre.title }} 下一篇：{{ next.title }}</p>
{% endblock %}}